.avatar {
    height: 40px;
    flex: 0 0 40px;
    border-radius: 50%;
    background-color: var(--gray6);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 12px;
}

.cardSelect {
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 12px;
    background-color:var(--selected);
}

.card:hover{
    background-color: var(--background);
}


.info {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 100%;
}


.name {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.8px;
}

.message {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
    cursor: pointer;
}


.messageAll {
    text-align: start;
    width: 250px;
    cursor: pointer;
}

